<h1>Registrar Producto</h1>
<form [formGroup]="productoForm" (ngSubmit)="onSubmit()"  class="form">
  <input validar type="text" id="codigoProducto" name="codigoProducto" placeholder="Código Producto"
        formControlName="codigoProducto">
  <input validar type="text" id="descripcionProducto" name="descripcionProducto" placeholder="Descripción del producto"
        formControlName="descripcionProducto">
  <input validar type="number" id="unidadesDisponibles" name="unidadesDisponibles" placeholder="Unidades Disponibles"
        formControlName="unidadesDisponibles">
  <input validar type="number" id="unidadesComprometidas" name="unidadesComprometidas" placeholder="Unidades Comprometidas"
        formControlName="unidadesComprometidas">
  <button type="submit" class="btn btn-primary"> Crear </button>
</form>