<h1>Gestion de Solicitudes</h1>
<table>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let item of listaSolicitudes | async">
      <td> {{item.idSolicitud}} </td>
      <td> {{item.idProducto}} </td>
      <td> {{item.idPersona}} </td>
      <td> {{item.fechaSolicitud}} </td> 
      <td> {{item.diasAlquiler}} </td> 
      <td> {{item.fechaDevolucion}}</td> 
      <td> {{item.valorSolicitud}}</td> 
      <td> {{item.valorDeposito}}</td> 
    </tr>
  </tbody>
</table>