<h1>Registrar Solicitud</h1>
<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()"  class="form">
  <input validar type="number" id="idProducto" name="idProducto" placeholder="Id Producto"
        formControlName="idProducto">
  <input validar type="number" id="idPersona" name="idPersona" placeholder="id Persona"
        formControlName="idPersona">
  <input validar type="date" id="fechaSolicitud" name="fechaSolicitud" placeholder="Fecha Solicitud"
        formControlName="fechaSolicitud">
  <input validar type="number" id="diasAlquiler" name="diasAlquiler" placeholder="Días Alquiler"
        formControlName="diasAlquiler">
  <button type="submit" class="btn btn-primary"> Crear </button>
</form>